ul.file-tree {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .file-tree li {
    position: relative;
    padding-left: 20px;
    line-height: 20px;
  }
  
  .file-tree li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .file-tree li.directory:before {
    content: "+";
    text-align: center;
    font-weight: bold;
  }
  
  .file-tree li.expanded.directory:before {
    content: "-";
  }
  
  .file-tree li.directory > ul {
    display: none;
    margin: 0;
    padding: 0 0 0 20px;
  }
  
  .file-tree li.expanded.directory:before {
    border-color: #999;
    background-color: #999;
    color: #fff;
  }
  
  .file-tree li.expanded.directory > ul {
    display: block;
  }
  